src/main/resources/xsd/ololo.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/tariffs"
           xmlns="http://example.com/tariffs">
    <xs:element name="elements" type="elementsType"/>

    <xs:complexType name="elementsType">
        <xs:sequence>
            <xs:element name="element" type="elementType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="elementType">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>