src/main/java/com/epam/am/entity/tariffsSchema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/tariffs"
           xmlns="http://example.com/tariffs">
    <xs:include schemaLocation="Tariff.xsd"/>
    <xs:element name="tariffs" type="Tariffs"/>

    <xs:complexType name="Tariffs">
        <xs:sequence>
            <xs:element name="tariff" type="Tariff" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
